<h1> <%= @user.fullname %> </h1>

<div class="row">

  <div class="col-4">
    <%= image_tag @user.avatar if @user.avatar.attached?%>
  </div>

  <div class="col-3">
    <table class="table">
      <tr>
        <th scope="col" colspan="2">Feel free to contact me:</th>
      </tr>

      <tr>
        <td><%= link_to (image_tag "ico/phone.png", size: "20x20"), "tel:#{@user.phone}" %></td>
        <td><%=  @user.phone %></td>
      </tr>

      <tr>
        <td><%= image_tag "ico/mail.png", size: "20x20"%></td>
        <td><%= @user.email %></td>
      </tr>

      <tr>
        <td>With PG </td>
        <td>since <%= @user.created_at.strftime("%b %Y")%> </td>
      </tr>

      <tr>
        <td>Offers: </td>
        <td><%= @user.apartments.count %> </td>
      </tr>

    </table>
  </div>

</div>

<br/> 
<h3>My offers:</h3>
  <hr/>
  <div id="apartments", class="row row-cols-1 row-cols-md-4 g-5 ">
    <% @user.apartments.each do |apartment| %>
      <%= render apartment %>
    <% end %>
  </div>
  <br/>
