<div id="<%= dom_id apartment %>">
  <div class="card bg-light border rounded-3">
    <ul class="list-group list-group-flush ">
    <li class="list-group-item"><% if apartment.pictures.attached? %><%= link_to (image_tag apartment.pictures.first, size: "250x150", class:"rounded"), apartment%><% end %></li>  
    <i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>
    <li class="list-group-item bg-light"><%= image_tag "ico/price.png", size: "20x20" %><%= apartment.price%></li>
    <li class="list-group-item bg-light"><%= image_tag "ico/bed.png", size: "20x20"%><%= apartment.badroom%></li>
    <li class="list-group-item bg-light"><%= image_tag "ico/newtype.png", size: "20x20"%><%= apartment.apt_type%></li>
    <li class="list-group-item bg-light"><%= image_tag "ico/repair.png", size: "20x20"%><%= apartment.condition %></li>
    <li class="list-group-item bg-light"><%= image_tag "ico/location.png", size: "20x20"%><%= apartment.location %></li>
    <li class="list-group-item bg-light"><%= image_tag "ico/phone.png", size: "20x20"%><%= apartment.user.phone %></li>
    <%= link_to "Show this apartment", apartment, class:"list-group-item list-group-item-action" %>
    </ul>
  </div>
</div>
