<div id="<%= dom_id apartment %>">
  <p>
    <strong>Badroom:</strong>
    <%= apartment.badroom %>
  </p>

  <p>
    <strong>Apt type:</strong>
    <%= apartment.apt_type %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= apartment.condition %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= apartment.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= apartment.location %>
  </p>

</div>
