<br/>
<div class="row">

  <div class="col-8">

    <div id="carouselExample" class="carousel slide">

      <div class="carousel-inner">    
        <div class="carousel-item active"><% if @apartment.pictures.attached? %>
          <%= image_tag @apartment.pictures.first, class:"d-block w-100" %> <% end %>
        </div>

        <div class="carousel-item"><% if @apartment.pictures.second %>
          <%= image_tag @apartment.pictures.second, size: "300*300", class:"d-block w-100" %> <% end %>
        </div>

        <div class="carousel-item"><% if @apartment.pictures.third %>
          <%= image_tag @apartment.pictures.third, size: "300*300", class:"d-block w-100"  %> <% end %>
        </div>
      </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
 
  <div class="col">
    <table class="table">
      <tr>
        <td><%= image_tag "ico/price.png", size: "20x20"%><%= @apartment.price %></td>
        <td><%= image_tag "ico/bed.png", size: "20x20"%><%= @apartment.badroom %></td>
      </tr>

      <tr>
        <td><%= image_tag "ico/repair.png", size: "20x20"%><%= @apartment.condition %></td>
        <td><%= image_tag "ico/location.png", size: "20x20"%><%= @apartment.location %></td>
      </tr>

      <tr>    
        <td><%= image_tag "ico/newtype.png", size: "20x20"%><%= @apartment.apt_type %></td>
        <td><%= image_tag "ico/phone.png", size: "20x20"%><%= @apartment.user.phone %></td>     
      </tr>
    </table>

      <p><%= @apartment.user.fullname %><p/>

      <% if @apartment.user.avatar.attached? %>
        <%= link_to (image_tag @apartment.user.avatar, size: "250x300" ), @apartment.user%>
      <% end %> 

      <p>
        <%= link_to (image_tag "ico/phone.png", size: "20x20"), "tel:#{@apartment.user.phone}" %> <%= @apartment.user.phone %>
        <%= image_tag "ico/mail.png", size: "20x20"%><%=  @apartment.user.email%> 
      <p/>

      <%= link_to "Show all my offers", @apartment.user, class:"text-reset"%>
  </div> 
</div>

  <div class="col-md-3 mb-2">
   <%= link_to "Edit this apartment", edit_apartment_path(@apartment), class:"btn btn-outline-secondary col-7" %> 
  </div>

  <div class="col-md-3 mb-2">
    <%= button_to "Delete this apartment", @apartment, method: :delete, data: {turbo_confirm: "This appartment will be deleted! Are you sure?"},  class:"btn btn-outline-secondary col-7" %>
  </div>
  <div class="col-md-3 mb-2">
    <%= link_to "Back to apartments", apartments_path, class:"btn btn-outline-secondary col-7" %>
  </div>