<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PG Estate | Find Your Dream Home</title>
    
    <%# Favicon %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    
    <%# Meta tags %>
    <meta name="description" content="Find your perfect home with PG Estate. Browse apartments, houses, and more.">
    <meta name="keywords" content="real estate, apartments, houses, property">
    
    <%# Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <%# Bootstrap Icons %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <%# Rails default tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Styles %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%# JavaScript %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Header %>
    <%= render 'shared/header' %>

    <%# Flash messages %>
    <% if notice || alert %>
      <div class="container mt-4">
        <%= render 'shared/flash_messages' %>
      </div>
    <% end %>

    <%# Main content %>
    <main class="container py-4 fade-in">
      <%= yield %>
    </main>

    <%# Footer %>
    <%= render 'shared/footer' %>

    <%# Bootstrap JavaScript %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
  </body>
</html>